django-autocomplete-light==3.2.1
django-user-accounts==1.3.1
python-social-auth==0.2.21
pinax-webanalytics==2.0.4
pinax-eventlog==1.1.2
django-gravatar2==1.4.0

Django==1.10
pinax-theme-bootstrap==7.10.2
pyowm==2.4.0
requests==2.9.2
pycurl>=7.43.0
icalendar>=3.10
asana==0.5.1

git+git://git.symlink.me/pub/weboob/stable.git


pytest==3.0.3
pytest-cache==1.0
pytest-django==3.0.0
pytest-sugar==0.7.1
pytest-watch==4.1.0
