{% extends "boites/base.html" %}

{% load i18n %}
{% load static %}
{% load bootstrap %}
{% load humanize %}

{% block body_class %}boite boite-apps{% endblock %}

{% block head_title %}{{ verbose_name }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-5">
            <form method="POST" action="">
                <legend>{{ verbose_name }}</legend>
                {% csrf_token %}
                <div class="form-group">
                    {{ form.asana_personal_access_token|bootstrap }}
                </div>
                <div class="form-group">
                    <label class="control-label" for="{{ form.asana_project_id.html_name }}">{{ form.asana_project_id.label }}</label>
                    <div id="asana_projects">
                        <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                        <span class="sr-only">{% trans "Chargement des projets..." %}</span>
                    </div>
                </span>
                <div class="form-group">
                    {{ form.enabled|bootstrap }}
                </div>
                <button class="btn btn-primary" type="submit">{% trans "Save" %}</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
    <script type="text/javascript">
        $.getJSON( "projects", function( data ) {
            var projects = [];
            $.each( data, function( key, value ) {
                projects.push( "<option value='" + value.id + "'>" + value.name + "</li>" );
            });

            $("#asana_projects").empty();

            $("<select/>", {
                "class": "form-control",
                "name": "asana_project_id",
                "id" : "asana_project_id",
                html: projects.join( "" )
            }).appendTo("#asana_projects");

            $('#asana_project_id option[value="{{ object.asana_project_id }}"]').prop('selected', true);
        });
    </script>
{% endblock %}
