{% extends "boites/base.html" %}

{% load i18n %}
{% load bootstrap %}

{% block body_class %}boite boite-delete{% endblock %}

{% block head_title %}{% trans "Suppression d'une app ?" %}{% endblock %}

{% block body %}
    <div class="row">
        <ul class="breadcrumb">
            <li><a href="{% url 'boites:list' %}">{% trans "Mes boîtes" %}</a></li>
            <li><a href="{% url 'boites:update' boite_id %}">{{ boite.name }}</a></li>
            <li><a href="{% url 'boites:apps' boite_id %}">Apps</a></li>
            <li class="active">{% trans "Supprimer app" %}</li>
        </ul>
        <div class="col-md-5">
            <p>{% trans "Êtes vous sûr de vouloir supprimer cette app ?" %}</p>

            <form method="post" action="" autocapitalize="off">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">{% trans "Supprimer" %}</button>
            </form>
        </div>
    </div>

{% endblock %}
