{% extends "boites/base.html" %}

{% load static %}
{% load i18n %}
{% load bootstrap %}
{% load humanize %}

{% block body_class %}boite boite-apps{% endblock %}

{% block head_title %}{{ verbose_name }}{% endblock %}

{% block create_subnav %}<a class="list-group-item app-delete" href="delete/">{% trans "Supprimer cette app" %}</a>{% endblock %}

{% block body %}
    <div class="row">
        <ul class="breadcrumb">
            <li><a href="{% url 'boites:list' %}">{% trans "Mes boîtes" %}</a></li>
            <li><a href="{% url 'boites:update' boite_id %}">{{ boite.name }}</a></li>
            <li><a href="{% url 'boites:apps' boite_id %}">Apps</a></li>
            <li class="active">{% if verbose_name %}{{ verbose_name }}{% else %}{% trans "Créer une app" %}{% endif %}</li>
        </ul>
        <div class="col-md-5">
            <form method="POST" action="">
                {% csrf_token %}
                {{ form|bootstrap }}
                <button class="btn btn-primary" type="submit">{% trans "Save" %}</button>
            </form>
        </div>
    </div>
    <style media="screen">
        .checkbox label {
            padding-left: 0px;
        }
    </style>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
    {% include "_scripts.html" %}
    {{ form.media }}
    <script type="text/javascript">
        var enabled_label = $(".checkbox label span").text();
        $(".checkbox label span").html("");
        $(".checkbox").parent().prepend("<label>" + enabled_label + "</label>");
        $("#id_enabled").bootstrapSwitch();
    </script>
{% endblock %}
