django-autocomplete-light==3.5.1
django-user-accounts==3.0.2
social-auth-app-django==4.0.0
pinax-webanalytics==5.0.0
pinax-eventlog==4.0.1
django-gravatar2==1.4.4
Django>2,<2.1
pinax-theme-bootstrap==8.0.1
pyowm==2.10.0
requests==2.24.0
icalendar==4.0.6
unidecode==1.1.1
asana==0.10.0
qrcode==6.1
weboob==2.0
facebook-sdk==3.1.0
jsonpath_ng==1.5.1
Pygments==2.6.1
