django-autocomplete-light==3.2.1
django-user-accounts==1.3.1
python-social-auth==0.2.21
pinax-webanalytics==2.0.4
pinax-eventlog==1.1.2
django-gravatar2==1.4.0
Django==1.10
pinax-theme-bootstrap==7.10.2
pyowm==2.4.0
requests==2.9.2
icalendar>=3.10
asana==0.5.1
qrcode==5.3
Pygments==2.1.3
https://git.weboob.org/weboob/devel/repository/archive.tar?ref=1.2

pytest==3.0.3
pytest-cache==1.0
pytest-django==3.0.0
pytest-sugar==0.7.1
pytest-watch==4.1.0

-e apps/alarm
-e apps/bikes
-e apps/bus
-e apps/calendar
-e apps/energy
-e apps/messages
-e apps/metro
-e apps/parcel
-e apps/tasks
-e apps/time
-e apps/traffic
-e apps/weather
-e apps/wifi
-e apps/likes
