{% extends "apps/app_form.html" %}

{% load static %}
{% load i18n %}
{% load bootstrap %}

{% block body %}
    <style>
        .led ul li {
            float: left;
            width: 16px;
            height: 16px;
            margin-right: 4px;
            margin-top: 4px;
        }
    </style>
    <div class="row">
        <ul class="breadcrumb hidden-xs hidden-sm">
            <li><a href="{% url 'boites:list' %}">{% trans "Mes boîtes" %}</a></li>
            <li><a href="{% url 'boites:update' boite_id %}">{{ boite.name }}</a></li>
            <li><a href="{% url 'boites:apps' boite_id %}">Apps</a></li>
            <li class="active">{% if verbose_name %}{{ verbose_name }}{% else %}{% trans "Créer une app" %}{% endif %}</li>
        </ul>
        <div class="col-md-5">
            <form method="POST" action="">
                {% csrf_token %}
                <div class="form-group">
                    <label class="control-label" for="id_message">{% trans "Éditeur d'icône" %}</label>
                    <div class=" ">
                        <div class="led">
                            <ul></ul>
                        </div>
                        <div class="btn-group btn-group-centered pull-right" style="margin-top: 4px;">
                            <a id="previous" class="btn btn-sm btn-info" href="#"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
                            <a id="next" class="btn btn-sm btn-info" href="#"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                            <a id="add" class="btn btn-sm btn-info" href="#"><i class="fa fa-plus" aria-hidden="true"></i></a>
                        </div>
                        <p class="help-block">
                            {% trans "Concevez votre icône en cliquant sur les pixels sur l'écran virtuel ci-dessus." %}
                        </p>
                    </div>
                </div>
                {{ form|bootstrap }}
                <div id="bitmaps">
                    {% if bitmaps %}
                        {% for bitmap in bitmaps %}
                            <textarea style="display: none;" name="id_bitmap{{ bitmap.id }}" id="id_bitmap{{ bitmap.id }}" rows="16"  cols="32">{{ bitmap.bitmap }}</textarea>
                        {% endfor %}
                    {% else %}
                        <textarea style="display: none;" name="id_bitmap1" id="id_bitmap1" rows="16"  cols="32"></textarea>
                    {% endif %}
                </div>
                <button class="btn btn-primary" type="submit">{% trans "Save" %}</button>
            </form>
        </div>
    </div>
    <style media="screen">
        .checkbox label {
            padding-left: 0px;
        }
    </style>
{% endblock %}
