{% extends "site_base.html" %}

{% load i18n %}
{% load static %}

{% block head_title_base %}{% if SITE_NAME %}{{ SITE_NAME }}{% endif %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
    <section class="jumbotron" style="color:white; background:#2C3E50">
        <div class="container">
            {% include "_messages.html" %}
            <div class="row">
                <div class="col-lg-8">
                    <h2>{% blocktrans %}
                        Vos données dans votre horloge !
                        {% endblocktrans %}
                    </h2>
                    <p class="lead">
                        {% blocktrans %}
                        laboîte est une horloge connectée qui affiche des
                        informations provenant d'Internet. Elle est peu coûteuse,
                        totalement paramétrable et améliorée par une équipe de
                        passionnés !
                        {% endblocktrans %}
                    </p>
                    {% if not user.is_authenticated %}
                    {% url "account_login" as login_url %}
                    {% url "account_signup" as signup_url %}
                    <p>{% blocktrans %}<a href="{{ login_url }}" class="btn btn-default">Identifiez-vous</a> ou <a href="{{ signup_url }}" class="btn btn-success">Créer un compte</a>{% endblocktrans %}</p>
                    {% endif %}
                </div>
                <div class="col-lg-4">
                    <img width="100%" src="{% static 'img/laboite_specs.svg' %}" alt="laboîte specs">
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="feature-columns">
                <div>
                    <img class="img-circle" src="{% static 'img/leds.svg' %}" alt="app" style="width: 100px; height: 100px;"><br>
                    <h2>{% blocktrans %}Vos données !{% endblocktrans %}</h2>
                    {% blocktrans %}
                    Avec laboîte, toutes les données qui vous importent sont là quand vous regardez l'heure !
                    {% endblocktrans %}
                </div>
                <div>
                    <img class="img-circle" src="{% static 'img/arduino.svg' %}" alt="Visualisation" style="width: 100px; height: 100px;"><br>
                    <h2>{% blocktrans %}Compatible Arduino{% endblocktrans %}</h2>
                    {% blocktrans %}
                    laboîte est basée sur la plateforme Arduino. Ce qui signifie que vous pouvez modifier son code et améliorer votre boîte !
                    {% endblocktrans %}
                </div>
                <div>
                    <img class="img-circle" src="{% static 'img/opensource.svg' %}" alt="Visualisation" style="width: 100px; height: 100px;"><br>
                    <h2>{% blocktrans %}Ouvert !{% endblocktrans %}</h2>
                    {% blocktrans %}
                    Le code de cette application web est ouvert et libre. Il est disponible <a href="https://github.com/laboiteproject/laboite-backend">ici</a> sous licence <a href="https://www.gnu.org/licenses/agpl-3.0.html">AGPLv3</a>
                    {% endblocktrans %}
                </div>
            </div>
        </div>
    </section>
    <hr>
    <section>
        <div class="container text-center">
            <h2>{% blocktrans %}Des dizaines d'apps pour afficher ce que vous souhaitez !{% endblocktrans %}</h2>
            {% if apps %}
                <div class="row">
                {% for app in apps %}
                    {% if app.pk %}
                        {% with app.app_label|slice:"13:"|add:"_app.html" as template %}
                            {% include template %}
                        {% endwith %}
                    {% endif %}
                {% endfor %}
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}
