{% extends "theme_bootstrap/base.html" %}

{% load staticfiles %}
{% load pinax_webanalytics_tags %}
{% load i18n %}

{% block head_title_base %}{% if SITE_NAME %}{{ SITE_NAME }} · {% endif %}{% block head_title %}{% endblock %}{% endblock %}

{% block site_brand %}<a class="navbar-brand" href="{% url "home" %}" style="font-family: 'Kreon', serif; font-size: 150%">{{ SITE_NAME }}</a>{% endblock %}

{% block styles %}
    {% include "_styles.html" %}
{% endblock %}


{% block extra_head_base %}
    {% block extra_head %}{% endblock %}
{% endblock %}

{% block footer %}
    {% include "_footer.html" %}
{% endblock %}


{% block scripts %}
    {% include "_scripts.html" %}
{% endblock %}

{% block extra_body_base %}
    {% analytics %}
    {% block extra_body %}{% endblock %}
{% endblock %}
