{% extends "theme_bootstrap/subnav_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Mes boîtes" %}{% endblock %}

{% block body_class %}boites{% endblock %}
{% block body_base %}
    <section id="content_body">
        <div class="container">
            {% include "_messages.html" %}
            <h2>{% trans "Mes boîtes" %}</h2>
            {% if boite_list %}
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>{% trans "Nom" %}</th>
                            <th>{% trans "Apps" %}</th>
                            <th>{% trans "Clé d'API" %}</th>
                            <th>{% trans "Connectée ?" %}</th>
                            <th>{% trans "Actions" %}</th>
                          </tr>
                    </thead>
                    <tbody>
                        {% for boite in boite_list %}
                            <tr>
                                <td>{{ boite.name }}</td>
                                <td><span class="badge">{{ boite.get_apps_dictionary|length }}</span></td>
                                <td><samp>{{ boite.api_key }}</samp></td>
                                <td style ="color: {% if boite.was_active_recently %}#18bc9c{% else %}#e74c3c{% endif %};"><i class="fa fa-circle"></i></td>
                                <td>
                                    <a href="{% url 'boites:apps' boite.id %}" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                                    <button id ="popover{{ boite.id }}" class="btn btn-info btn-xs" data-container="body" data-toggle="popover" data-content=""><i class="fa fa-qrcode"></i></button>
                                    <a href="{% url 'boites:delete' boite.id %}" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <a href="{% url 'boites:create' %}" class="btn btn-success">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i> {% trans "Ajouter boîte" %}
                </a>
            {% else %}
                <div class="jumbotron">
                    <h1><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Pas encore de boîte</h1>
                    <p>{% trans "Veuillez cliquer sur le bouton ci-dessous pour ajouter une boîte." %}</p>
                    <p><a class="btn btn-primary btn-lg" href="{% url 'boites:create' %}"><i class="fa fa-plus-circle" aria-hidden="true"></i> {% trans "Ajouter boîte" %}</a></p>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}
{% block extra_body %}
{% if boite_list %}
        {% for boite in boite_list %}
            <script type="text/javascript">
                var img{{ boite.id }} = '<div>';
                img{{ boite.id }} += '<img src="{{ boite.qrcode.url }}" alt="{% trans "QRCode de" %} {{ boite.name }}" width=128 />';
                img{{ boite.id }} += '</div>';
                $('#popover{{ boite.id }}').popover({
                    trigger: "hover",
                    html: true,
                    content: img{{ boite.id }},
                    placement:'top'
                });
            </script>
        {% endfor %}
{% endif %}
{% endblock %}
