{% extends "boites/base.html" %}

{% load i18n %}
{% load bootstrap %}

{% block body_class %}boite boite-delete{% endblock %}

{% block head_title %}{{ object.name }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-5">
            <h1>{% trans "Supprimer ?" %}</h1>

            <p>{% trans "Êtes vous sûr de vouloir supprimer" %} <b>{{ object.name }}</b>{% trans " ?" %}</p>

            <form method="post" action="{% url 'boites:delete' object.id %}" autocapitalize="off">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">{% trans "Supprimer" %}</button>
            </form>
        </div>
    </div>

{% endblock %}
